.visually-hidden {
    display: none;
}
.advantages-section {

padding: 60px 0;

@media screen and (min-width:1200px) {
    padding: 94px 0;
    
}
}

.advantages-list {
    display: block;

    @media screen and (min-width:768px) {
display: flex;
flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
        display: flex;
    }  
}

.advantages-item {
    width: 100%;
    margin-bottom: 30px;

@media screen and (min-width:768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    }

@media screen and (min-width:1200px) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
    }    
}

.advantages-item:last-child {
    @media screen and (max-width:768px) {
    margin-bottom: 0;  
    }
}

.advantages-item:nth-child(2n) {
    @media screen and (min-width:768px) and (max-width:1199.5px) {
    margin-right: 0;
    }
}

.advantages-item:nth-last-child(-n + 2) {
    @media screen and (min-width:768px) and (max-width:1199.5px) {
    margin-bottom: 0;
    }
}

 .advantages-item:last-child {
    @media screen and (min-width:1200px){
    margin-right: 0;
    }
 }

//   .advantages-item {

//     @media screen and (min-width:1200px) {
//     margin-bottom: 0;
//     }
// }

.advantages-subtitle {
    color: var(--main-title-cl);
    font-weight: var(--main-font-weight700);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

@media screen and (min-width:768px) {
    text-align: left;   
}
}

.advantages-text {
    width: 100%;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.container-icon {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-commands);
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;

    @media screen and (min-width:768px) {
        width: 354px;
    }

    @media screen and (min-width:1200px) {
        width: 270px;
    }
}