.customers {
padding: 60px 0;

@media  screen and (min-width:1200px) {
   padding: 94px 0; 
}
}

.customers__title {
    color: var(--main-title-cl);
    font-weight: var(--main-font-weight700);
    font-size: 28px;
    line-height: calc(32 / 28);
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 30px;

@media screen and (min-width:1200px) {
    font-size: 32px;
    line-height: calc(42 / 32);

    margin-bottom: 50px;  
    }
}

.customers__list {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customers__item {

    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width:768px) {
    flex-basis: calc((100% - 60px) / 3);  
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 150px) / 6);
    }
}

.customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border-color var(--anim-main);

&:hover,
&:focus {
    border: 1px solid var(--main-acsent-cl);
}

&:hover .customers__icon,
&:focus .customers__icon {
    fill: var(--main-acsent-cl);
}
}

.customers__icon {
    fill: var(--main-icon);
    transition: fill var(--anim-main);
}